.radio-button {
  background-clip: content-box;
  border: 2px solid transparent;
  border-radius: 50%;
  width: 2.5em;
  height: 2.5em;
  padding: 0.4em;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  color: #7780bd;
  box-shadow: inset 0 0 4px rgba(128, 128, 128, 0.65);
  outline: none;

  &:checked {
    background-color: currentColor;
    border-color: currentColor;
  }
}
