{
  "extends": "stylelint-config-standard",
  "rules": {
    "indentation": 2,
    "number-leading-zero": null,
    "selector-list-comma-newline-after": null,
    "color-hex-case": null,
    "function-comma-space-after": null,
    "no-eol-whitespace": [true, {"ignore": ["empty-lines"]}],
    "at-rule-no-unknown": [true, {"ignoreAtRules": ["function", "return", "if", "else", "for", "each", "mixin", "while", "include", "extend", "at-root"]}],
    "declaration-block-no-redundant-longhand-properties": null
  },
  "ignoreFiles": "./build/**/*"
}
