.button {
  min-height: 3em;
  border: none;
  border-radius: 5px;
  font-weight: bold;
  font-size: 1em;
  display: flex;
  align-items: center;
  -webkit-appearance: none;
  cursor: pointer;
  white-space: nowrap;

  &--add-widget {
    color: #fff;
    background-color: #657fac;
  }

  &--remove-widget {
    color: #fff;
    background-color: red;
  }
}
