h1 {
  color: blue;
}

div:not(.board__panel):not(.header__controls):not(.header__title), span {
  outline: 1px dotted black;
}

body {
  background-color: #f9f9f9;
}

*, ::before, ::after {
  box-sizing: border-box;
}
