.activity-list {
  display: grid;
  grid-template-columns: minmax(315px, auto) 1fr;
  grid-gap: .5em .7em;
  padding: .7em;
  font-size: 1.7em;
  color: #2d425c;
}

.user, .progress {
  display: flex;
  align-items: center;
}

.user__avatar {
  width: 70px;
}

.user-activity > .widget__body {
  background-color: initial;
  flex: 1;
  display: flex;
  flex-direction: column;
}
